<div class=''>
	<% form_tag merge_artcle_path(article.id) do %>
	  <h4><%= _("Merge Articles") %></h4>
	  <div>
	    <%= label_tag "merge_with", "Article ID" %>
	    <%= text_field_tag 'merge_with', nil, :class => 'medium' %>
	  </div>
	  <br />
	  <%= submit_tag "Merge" %>
	<% end %>
</div>